/* Haupt CSS für alle Seiten */
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu {
    overflow: hidden;
    z-index: 99 !important;
    position: fixed;
    top: 0;
    width: 100%;
    height: 7rem;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
}

.menu a{
    float: left;
    height: 60%;
    display: block;
    color: #b5b5bd;
    text-align: center;
    text-decoration: none;
    transition: ease 0.3s;
}
.menu p{
    position: fixed;
    top: 25px;
    right: 100px;
    color: #b5b5bd;
}

.btn-right {
    float: right;
}

.btn-left {
    float: left;
}

/* Neon Knöpfe > Menü */
.neon-button {
    font-size: 1rem;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: #b5b5bd;
    border: rgb(138,43,226) 0.125em solid;
    padding: 0.125em 0.5em;
    margin-left: 0.425em;
    margin-right: 0.425em;
    margin-top: 0.25em;
    border-radius: 0.25em;
    width: 7rem;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
    box-shadow: inset 0 0 0.5em 0 rgb(138,43,226), 0 0 0.5em 0 rgb(138,43,226);
}
.neon-button::before {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;
}

.neon-button:hover,
.neon-button:focus {
    color: #b5b5bd;
    text-shadow: none;
    box-shadow: 0 0 2em 0.5em rgb(138,43,226);
    background-color: rgb(138,43,226);
    transition: opacity 100ms linear;
}
.neon-button:hover::before,
.neon-button:focus::before {
  opacity: 1;
}
.neon-button:hover::after,
.neon-button:focus::after {
  opacity: 1;
}

/* Logo im Menü */
#logo {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 105%;
    width: fit-content;
}
#up-btn {
    position: fixed;
    text-align: center;
    bottom: 1.2rem;
    right: 18.5%;
    left: 95%;
    max-width: 75px;
    width: 100%;
    font-size: 1.3rem;
    border: rgb(138,43,226);
    background-color: #808080;
    color: #232323;
    padding: .5px;
    border-radius: 4px;
    text-decoration: none;
}
#up-btn:hover {
    background-color: #232323;
    cursor: pointer;
    color: #808080;
    transition: all 0.75s;
}
/* Hauptseite */
.seite {
    overflow: hidden;
    
    width: 100%;
    height: 100%;
    padding: 80px 20px;
    transition: .4s ease;
    /* Verursacht bei manchen Browsern/Geräten Laggs Beim Scrollen
    background-image: url(../../bilder/background.png);
    background-size: 100%;
    background-attachment: fixed;
    background-size: cover;
    */
}
/* GPU Freundlicher */
/* Q: https://www.fourkitchens.com/blog/article/fix-scrolling-performance-css-will-change-property/ mit kleinen Änderungen */
.seite::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #121212;
    background: url(../../bilder/background.png) no-repeat center center;
    background-size: cover;
    will-change: transform;
    z-index: -1;
}

/* Animierte Sterne */
.seite section {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.seite section span {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 7px;
    height: 4px;
    background: #fff;
    border-radius: 35%;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1), 
    0 0 0 8px rgba(255, 255, 255, 0.1),
    0 0 20px rgba(255, 255, 255, 1);
    animation: animate 5s linear infinite;
}

@keyframes animate {
    0%
    {
        transform: rotate(315deg) translateX(0);
        opacity: 1;
    }
    70%
    {
        opacity: 1;
    }
    100%
    {
        transform: rotate(315deg) translateX(-1000px);
        opacity: 0;
    }
}

.seite section span::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    height: 1px;
    background: linear-gradient(90deg,#fff,transparent);
}

/* Stern Position & Geschwindigkeit */
.seite section span:nth-child(1)
{
    top: 0;
    right: 0;
    left: initial;
    animation-delay: 0;
    animation-duration: 1s;
}
.seite section span:nth-child(2)
{
    top: 0;
    right: 80px;
    left: initial;
    animation-delay: 0.2s;
    animation-duration: 3s;
}
.seite section span:nth-child(3)
{
    top: 80px;
    right: 0px;
    left: initial;
    animation-delay: 0.4s;
    animation-duration: 2s;
}
.seite section span:nth-child(4)
{
    top: 0px;
    right: 180px;
    left: initial;
    animation-delay: 0.6s;
    animation-duration: 1.5s;
}
.seite section span:nth-child(5)
{
    top: 0px;
    right: 400px;
    left: initial;
    animation-delay: 0.8s;
    animation-duration: 2.5s;
}
.seite section span:nth-child(6)
{
    top: 0px;
    right: 600px;
    left: initial;
    animation-delay: 1s;
    animation-duration: 3s;
}
.seite section span:nth-child(7)
{
    top: 300px;
    right: 0px;
    left: initial;
    animation-delay: 1.2s;
    animation-duration: 1.75s;
}
.seite section span:nth-child(8)
{
    top: 0px;
    right: 700px;
    left: initial;
    animation-delay: 1.2s;
    animation-duration: 1.25s;
}
.seite section span:nth-child(9)
{
    top: 0px;
    right: 1000px;
    left: initial;
    animation-delay: 0.75s;
    animation-duration: 2.25s;
}
.seite section span:nth-child(10)
{
    top: 0px;
    right: 450px;
    left: initial;
    animation-delay: 2.75s;
    animation-duration: 1.75s;
}
/* Animation Ende */

/* Footer */
.footer {
    background: #444;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 80%;
    width: 95%;
    text-align: center;
    border-radius: 1em;
}

.ft-links a {
    text-align: center;
    font: bold 1.2em;
    text-decoration: none;
    display: inline-block;
    width: 8.5rem;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    color: #121212;
    border-radius: 0.5em;
    font-size: 1em;
    margin-top: 0.5em;
}

.ft-links a:hover {
    color: #33383b;
    background-color: #121212;
    font-size: 1.15em;
    text-decoration: underline;
    transition: ease-in-out all 0.2s;
}

.ft-icons {
    bottom: 50%;
    top: 50%;
}

.fa{
    text-align: center;
    text-decoration: none;
    width: 2em;
    height: 2em;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 1.9em;
    color: #fff;
}
.fa:hover{
    background-color: #121212;
    transition: ease-in-out all 0.2s;
}

/* Ab hier Mika */
