.service, .retouren, .reparaturen {
    background: rgba(0, 0, 0, 0.12);
    margin-left: 50%;
    margin-right: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 1em;
    border: 0.05em solid #121212;
    color: #b5b5bd;
    width: 90%;
    height: 27%;
    margin-top: 1em;
}
#tp {
    margin-top: 8%;
}
.service p, .reparaturen p, .retouren p{
    text-align: left;
    margin-left: 2em;
    font-size: 120%;
}

/* 
Scrollbar entfernen 
Q: https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp 
*/
/* Chrome, Safari, Opera (Chromium & webkit Browser) */
body::-webkit-scrollbar {
    display: none;
}
body {
    -ms-overflow-style: none; /* Internet Explorer & Edge */
    scrollbar-width: none; /* Firefox */
}