.hdline {
    text-align: center;
    color: rgba(200, 200, 200, 0.5);
    font-size: 200%;
    margin-top: 2%;
}
.item {
    background-color: rgba(0, 0, 0, 0.12);
    margin-top: 1%;
    margin-left: 50%;
    margin-right: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1em;
    border: 0.05em solid #121212;
    width: 80%;
    height: 25%;
    transition: all 0.5s ease-in;
    display: flex;
    align-items: center;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}
.item:hover {
    transition: all 0.5s ease-in;
    width: 81%;
    height: 26%;
}
#top-item {
    margin-top: 6.5%;
}
.shop-img img {
    margin-left: 1em;
    border-radius: 1em;
    height: 90%;
    width: 90%;
}
.shop-img a {
    margin-left: 1%;
    height: 90%;
    width: 10%;
}
.item-desc {
    margin-top: 1%;
    color: #b5b5bd;
}
.item-hdline {
    margin-top: 1%;
    color: #b5b5bd;
}
.item-preis {
    margin-top: 1%;
    color: #b5b5bd;
}