.product-name {
    margin-top: 5%;
    margin-right: 5%;
    height: 10%;
    width: 45%;
}
.product-name h1 {
    text-align: center;
    vertical-align: middle;
    top: 25%;
}
.product-img {
    margin-top: 1%;
    margin-right: 5%;
    height: 60%;
    width: 45%;
}
.product-img img {
    width: 100%;
    height: fit-content;
}

.product-img, .product-name{
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.12);
    margin-right: 2.5%;
    text-align: center;
    border-radius: 1em;
    border: 0.05em solid #121212;
    color: #b5b5bd;
    z-index: 101!important;
    font-size: small;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}