.product-name {
    margin-top: 5%;
    height: 10%;
    width: 100%;
}
.product-name h1 {
    line-height: 95%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}
.product-img {
    margin-top: 1%;
    height: 80%;
    width: 100%;
}
.product-img img {
    width: 100%;
    height: fit-content;
}
.product-desc {
    float: right;
    width: 90%;
    height: 91%;
    margin-top: 5%;
}
.placeholder {
    width: 100%;
    height: 100%;
}
.seite {
    display: inline-flex;
}
.buy {
    bottom: 10%;
    width: 95%;
    height: 15%;
    background: linear-gradient(-5deg, hsl(86, 61%, 44%), hsl(86, 65%, 54%));
    color: #121212;
}
.buy h1 {
    color: #121212;
}
.product-img, .product-name, .product-desc, .buy {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.12);
    margin-right: 2.5%;
    margin-left: 2.5%;
    text-align: center;
    border-radius: 1em;
    border: 0.05em solid #121212;
    color: #b5b5bd;
    z-index: 101!important;
    font-size: small;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}
