html {
    background-color: black;
}

.überschrift h1{
    text-decoration: solid;
    text-align: center;
    color: white;

}

.überschrift :hover {
    zoom: 5%;
    transition: all ease-in-out 0.5s;
}